
__MACOSX
/.phpintel
/.php_cs.cache

public/vendor/core

_ide_helper.php
package-lock.json
yarn.lock
/.sass-cache

public/mix-manifest.json

public/themes
public/docs
resources/docs

.phpunit.result.cache
/storage/.license
/storage/fonts
/storage/installing
/storage/installed

/log

storage/framework/laravel-excel/
/.scribe
